@font-face {
  font-family: "Outright";
  src: url("./assets/font/OutRight-Variable.woff")
  format("woff2"),
  url("./assets/font/OutRight-Variable.woff")
  format("woff");
  font-weight: 100 900;
}

.fontTransition {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 250ms linear;
}

body {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  background: #fff;
}


.infoContainer {
  max-width: 75%;
}

h1 {
  font-family: 'Outright';
  font-variation-settings: 'wght' 500;
  line-height: 14rem;
  margin: 18px 0;
  text-align: left;
  font-size: 16rem;
}


.fontAverage1 {
  font-family: 'Outright';
  font-variation-settings: 'wght' 500;
  animation: bold-to-light 2000ms linear 0.3s forwards;
}

  @keyframes bold-to-light {
    60% {
      font-variation-settings: 'wght' 400;
    }
    100% {
      font-variation-settings: 'wght' 00;
    }
  } 

.fontMinusOne {
  font-family: 'Outright';
  /* font-weight: 00; */
  /* transition: all 250ms linear; */
	font-variation-settings: 'wght' 800 ;
  color: #000;
}

.fontMinusTwo {
  font-family: 'Outright';
  /* font-weight: 00; */
  /* transition: all 250ms linear; */
	font-variation-settings: 'wght' 700 ;
  color: #000;
}
.fontMinusThree {
  font-family: 'Outright';
  /* font-weight: 00; */
  /* transition: all 250ms linear; */
	font-variation-settings: 'wght' 600 ;
  color: #000;
}
.fontMinusFour {
  font-family: 'Outright';
  /* font-weight: 00; */
  /* transition: all 250ms linear; */
	font-variation-settings: 'wght' 500 ;
  color: #000;
}
.fontMinusFive {
  font-family: 'Outright';
  /* font-weight: 00; */
  /* transition: all 250ms linear; */
	font-variation-settings: 'wght' 400 ;
  color: #000;
}
.fontMinusSix {
  font-family: 'Outright';
  /* font-weight: 00; */
  /* transition: all 250ms linear; */
	font-variation-settings: 'wght' 300 ;
  color: #000;
}
.fontMinusSeven{
  font-family: 'Outright';
  /* font-weight: 00; */
  /* transition: all 250ms linear; */
	font-variation-settings: 'wght' 200 ;
  color: #000;
}
.fontMinusEight {
  font-family: 'Outright';
  font-weight: 00;
  transition: all 250ms linear; 
	font-variation-settings: 'wght' 100 ;
  color: #000;
}

.sourceNumber {
  font-size: 0.45rem;
}
.preHeader {
  text-align: center;
}

.preHeader p {
  display: inline-block;
  text-align: center;
}

.headerImg {
  background-size: cover;
  max-width: 100%;
}


.introBlock {
  width: 100%;
  font-size: 22px;
  line-height: 37px;
  margin-top: 12px;
  
}